@model Firmeza.Web.Data.Entities.Producto

<h1>Eliminar Producto</h1>

<h3>¿Estás seguro de eliminar este producto?</h3>
<div>
    <h4>@Model.Nombre</h4>
    <dl class="row">
        <dt class="col-sm-2">Descripción</dt>
        <dd class="col-sm-10">@Model.Descripcion</dd>
    </dl>
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

